@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* ----------------------------footer----------------------- */
@import url("https://fonts.googleapis.footer__menu/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* ! Footer */

.main__footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #2d313f;
}

.main__footer ul {
  list-style: none;
}

.main__footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main__footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main__footer ul li a {
  color: #ffffffcc;
  text-decoration: none;
}
.main__footer ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #2d313f;
  border-top: 1px solid #585f7c;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}
footer a:hover {
  text-decoration: underline;
}
.contact__footer {
  margin-top: 20px;
}

.main__footer h1 {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.contact__footer li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px 0;
}

.contact__footer li a {
  text-decoration: none;
  color: #f1f1f1;
}
.contact__footer li a:hover {
  text-decoration: underline;
}
.contact__footer .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.footer-social {
  padding: 20px 0;
}
.footer__social-box {
  display: flex;
  justify-content: center;
}
.footer-social .footer__social-box a {
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.footer__menu ul li {
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------------------------------- */
/* ! Tablet */
/* -------------------------------------------------------------------------------- */

@media (max-width: 767px) {
  .main__footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__social {
    padding: 20px 0;
  }
}

/* -------------------------------------------------------------------------------- */
/* ! Smartphone */
/* -------------------------------------------------------------------------------- */

@media (max-width: 480px) {
  .main__footer {
    grid-template-columns: 1fr;
  }
  .footer-social {
    padding: 20px 0;
  }
  .footer__menu {
    padding: 20px 0;
  }
}
