@font-face {
  font-family: "ARCO";
  src: url("../font/ARCO.woff") format("woff");
}
@font-face {
  font-family: "SuperBoy";
  src: url("../font/Super-Boys.woff") format("woff");
}

.Paralax {
  padding-top: -2vh;
  /* overflow: hidden; */
  height: 100vh;
  flex-wrap: nowrap;
  background-color: #f0e9db;
  position: relative;
}
.cloud-top {
  position: absolute;
  left: 0;
  top: 6vh;
  width: 25vw;
}
.headline {
  position: absolute;
  right: 2vw;
  top: 11vh;
  width: 45vw;
  /* overflow: hidden; */
}
.flying {
  position: absolute;
  left: 5vw;
  bottom: 0;
  width: 40vw;
  animation: naikTurun 1.5s linear infinite;
}
.crystal {
  position: absolute;
  right: 25vw;
  bottom: 15vh;
  width: 20vw;
}
.cloud-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30vw;
}
.button-1 {
  position: absolute;
  width: 15vw;
  top: 53vh;
  right: 2vw;
}
.button-1:hover {
  cursor: pointer;
  content: url("svg/main/Button-2.svg");
}
.cloud-top-phone {
  display: none;
}
.star-phone {
  display: none;
}
.cloud-bottom-phone {
  display: none;
}
@keyframes naikTurun {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Atur seberapa jauh naik */
  }
  100% {
    transform: translateY(0);
  }
}

.pendaftaran-full {
  height: 100vh;
  background-color: #f0e1c1;
  position: relative;
}
.pendaftaran {
  padding-top: 5vh;
  position: relative;
}
.pendaftaran a {
  display: flex;
  justify-content: center;
  font-size: 5vh;
  padding-bottom: 3vh;
  font-family: "ARCO";
  color: #474953;
}
.star-daftar {
  position: absolute;
  top: 0vh;
}
.flying-daftar {
  position: absolute;
  width: 40vw;
  right: 5vw;
  bottom: 10vw;
  animation: naikTurun 2s linear infinite;
}
.text-daftar {
  position: absolute;
  width: 40vw;
  bottom: 25vw;
  left: 10vw;
}
.button-daftar {
  position: absolute;
  top: 50vh;
  width: 15vw;
  left: 30vw;
}
.button-guidebook {
  position: absolute;
  top: 50vh;
  left: 15vw;
  width: 15vw;
}
.button-guidebook:hover {
  cursor: pointer;
  content: url("svg/side/Button-Science-1.svg");
}
.button-daftar:hover {
  cursor: pointer;
  content: url("svg/side/Button-Science-3.svg");
}
.cloud-bottom-daftar {
  position: absolute;
  bottom: 0;
}
.background-daftar {
  display: none;
}
.cloud-bottom-daftar-phone {
  display: none;
}
.mascot {
  display: none;
}

/* footer */
@import url("https://fonts.googleapis.footer__menu/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Footer */

.main__footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #2d313f;
}

.main__footer ul {
  list-style: none;
}

.main__footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main__footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main__footer ul li a {
  color: #ffffffcc;
  text-decoration: none;
}
.main__footer ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #2d313f;
  border-top: 1px solid #585f7c;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}
footer a:hover {
  text-decoration: underline;
}
.contact__footer {
  margin-top: 20px;
}

.contact__footer li {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px 0;
}

.contact__footer li a {
  text-decoration: none;
  color: #f1f1f1;
}
.contact__footer li a:hover {
  text-decoration: underline;
}
.contact__footer .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.footer-social {
  padding: 20px 0;
}
.footer__social-box {
  display: flex;
  justify-content: center;
}
.footer-social .footer__social-box a {
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.footer__menu ul li {
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

/* Tablet  */
@media (max-width: 1024px) {
  .Paralax {
    position: relative;
    height: 100vh;
  }
  .cloud-top {
    position: absolute;
    width: 40vw;
    top: 3vh;
  }
  .headline {
    position: absolute;
    top: 15vh;
    right: 5vw;
    width: 80vw;
  }
  .button-1 {
    position: absolute;
    width: 30vw;
    top: 40vh;
    right: 10vw;
  }
  .flying {
    position: absolute;
    width: 70vw;
    bottom: 15vh;
  }
  .crystal {
    position: absolute;
    width: 20vw;
    right: 5vw;
    bottom: 40vh;
  }
  .cloud-bottom {
    position: absolute;
    width: 60vw;
  }

  /* Pendaftaran */
  .flying-daftar {
    position: absolute;
    bottom: 45vh;
    width: 80vw;
    right: 7vw;
  }
  .text-daftar {
    position: absolute;
    top: 60vh;
    left: 16vw;
    width: 70vw;
  }
  .button-guidebook {
    position: absolute;
    width: 25vw;
    top: 77vh;
    left: 50vw;
  }
  .button-daftar {
    position: absolute;
    width: 25vw;
    top: 77vh;
    left: 25vw;
  }
}

/* Smartphone/Mobile */
@media (max-width: 500px) {
  .Paralax {
    position: relative;
    height: 100vh;
  }
  .cloud-top {
    display: none;
  }
  .cloud-top-phone {
    display: block;
    position: absolute;
    top: 0vh;
  }
  .headline {
    position: absolute;
    right: 10vw;
  }
  .button-1 {
    position: absolute;
    right: 35vw;
    top: 40vh;
  }
  .star-phone {
    display: block;
    position: absolute;
    top: 40vh;
  }
  .flying {
    position: absolute;
    width: 80vw;
    left: 10vw;
  }
  .crystal {
    display: none;
  }
  .cloud-bottom {
    display: none;
  }
  .cloud-bottom-phone {
    display: block;
    position: absolute;
    bottom: 0;
  }

  /* Pendaftaran */
  .pendaftaran-full {
    position: relative;
    background-color: #f0e9db;
  }
  .mascot {
    display: block;
    position: absolute;
    width: 35vw;
    left: 35vw;
    top: 12vh;
  }
  .pendaftaran a {
    top: 50vh;
  }
  .cloud-bottom-daftar {
    position: absolute;
    top: 34vh;
  }
  .background-daftar {
    display: block;
    position: absolute;
    bottom: 0vh;
  }
  .flying-daftar {
    position: absolute;
    top: 45vh;
  }
  .text-daftar {
    position: absolute;
    top: 70vh;
  }
  .button-daftar {
    position: absolute;
    top: 80vh;
  }
  .button-guidebook {
    position: absolute;
    top: 80vh;
  }
  .cloud-bottom-daftar-phone {
    display: block;
    position: absolute;
    bottom: 0vh;
  }
}
